.abtus{
    width: 450px;
    overflow: hidden;
    margin: 30 0 0 30px;
    margin:auto;
    padding: 60px;
    background:white;
    border-radius: 15px;
    color:black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }
  h1.hee{
    font-family: "brush script mt";
    font-size:300%;
    color:purple;
  }
  img{
    padding-left: 65px;
    padding-right: 30px;
  }